body{
    background-image: linear-gradient(lightblue, lightcyan);
}
#menu {
    /*background: darkred;*/
    background: #eeeeee;
    height: 50px;
    width: 100%;
    margin: auto;
}
#menu ul {
    overflow: auto;
    padding: 0px;
    margin: 0px;
}
#menu > ul {
    height: 50px;
    background: #eeeeee;
    border-bottom: 1px solid darkred;
    border-left: 5px solid darkred;
}
#menu ul li {
    list-style: none;
    float: left;
    padding: 15px 0px 15px 0;
    border-left: 3px solid #eeeeee;
}
#menu ul li:hover {
    background: darkred;
    cursor: pointer;
    color: #eeeeee;
    border-left: 3px solid orange;
}
#menu ul li a {
    font-weight: bold;
    margin: 0 15px 0 15px;
}
#menu .sub ul li a {
    display: grid;
}
#menu ul li:hover a {
    color: #eeeeee;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.nav{
    width: 100%;
}
.list_wrap .group-tabs .nav .nav-item{
    margin-bottom: 0px;
    padding-left: 0px;
    width: 120px;
}
.list_wrap .group-tabs .nav .nav-item .nav-link{
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    color: #ffffff;
}
.list_wrap .group-tabs .nav .nav-item .active{
    color: black;
}
.tab-content{

}
.tab-content .container .nav .nav-item {
    margin-bottom: 0px;
    padding-left: 0px;
    width: 140px;
}
.tab-content .container .nav .nav-item .nav-link{
    width: 140px;
    color: #ffffff;
}
.tab-content .container .nav .nav-item .active{
    color: black;
}
.bound{
    padding-left: 30px;
    margin-top: 10px;
}
.fade{
    height: auto;
    padding-left: 0px;
    padding-right: 0;
}
#home1{
    padding-left: 0;
    background: antiquewhite;
}
.nav-tabs{
    background-color: #041230;
    margin-left: 0px !important;
}
.rqcontainer .rqul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.rqcontainer .rqul li{
    list-style-type: circle;
}
.rqcontainer .rqul .rqli{
    width: max-content !important;
    margin-bottom: 10px !important;
}

.rqcontainer .rqul li p{
    width: max-content;
}
.abc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}
.bca{
    width: 100% !important;
    list-style-type: circle;
    margin-bottom: 10px !important;
}
.contents{
    padding-left: 50px  ;
}
.bg-svg{
    width: 100%;
    height: 100%;
}
.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fas{
    font-size: 20px;
}
.github{
    margin: 20px 20px;
}
.gh{
    display: flex;
    flex-direction: column;
}
#implement p{
    font-size: 20px;
    font-family: Tahoma;

}
.all{
    width: 100px;
    height: 40px;
    background-color: #0064FF;
    color: #FFFFFF;
}
.thumb{
    width: 400px;
    height: 400px;
    background-image:none ;
    background-position: center center;
    background-size: cover;
}
.imgsenario{
    width: 600px;
    height: 500px;
    background-repeat: round;
}
.imgbyphone{
    width: 500px;
    height: 500px;
}
.imgbyphonepheet{
    width: 400px;
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#menu1{
    padding-left: 0;
    background: #b0c5c1;
}