div.container {
    width: 60%;
    margin: auto;
}
#menu {
    background: darkred;
    height: 50px;
    width: 100%;
    margin: auto;
}
#menu ul {
    overflow: auto;
    padding: 0px;
    margin: 0px;
}
#menu > ul {
    height: 50px;
    background: #eeeeee;
    border-bottom: 1px solid darkred;
    border-left: 5px solid darkred;
}
#menu ul li {
    list-style: none;
    float: left;
    padding: 15px 0px 15px 0;
    border-left: 3px solid #eeeeee;
}
#menu ul li:hover {
    background: darkred;
    cursor: pointer;
    color: #eeeeee;
    border-left: 3px solid orange;
}
#menu ul li a {
    font-weight: bold;
    margin: 0 15px 0 15px;
}
#menu .sub ul li a {
    display: grid;
}
#menu ul li:hover a {
    color: #eeeeee;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    background: #e6e6e6;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: cornflowerblue;
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background: wheat;
}
.tabcontent ol li{
    font-size: 30px;
    text-align: justify;
}
.tabcontent ol li span{
    font-size: 30px;
    color: red;
}
.temp{
    font-size: 30px;
    text-align: justify;
    color: #363FFE;
}
.image-container{
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.image-container span{
    font-size: 25px;
    color: #7CFE22;
}
.down{
    font-size: 20px;
    text-align: center;
}
.backgound{
    background-size: 50%;
    background-repeat: no-repeat;
}
